body {
    background: lightseagreen;
}

.intro {
    background-color: #FFFFFF;
}

.game-board {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    height: 500px;
}

.game-board h2 {
    padding-bottom: 50px;
    color: purple;
}

canvas {
    background: #eee;
    display: block;
}

.btn-container {
    height: 100px;
    padding-top: 20px;
}

.next-level {
    background-color: purple;
    border-color: purple;
}

.next-level:hover {
    background-color: #FFFFFF;
    color: purple;
}

.continue-quest {
    background-color: #FFFFFF;
    color: mediumslateblue;
}

.continue-quest:hover {
    background-color: mediumslateblue;
    border-color: #FFFFFF;
    color: #FFFFFF
}

.restart-game {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: mediumslateblue;
}

.restart-game:hover {
    background-color: mediumslateblue;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.game-over img {
    width: 150px;
}

.game-over p {
    color: #FFFFFF;
}
