.button-look-up {
    max-width: 250px;
    margin: 20px 0;
    padding: 6px 12px;
    background-color: lightgray;
    border: 0;
    color: #000;
}

.button-look-up:hover {
    background-color: lightskyblue;
    cursor: pointer;
}