body {
    background-image: url("/img/purple-christmas-tree.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    background-color: #FFFFFF;
}

.content-card h1, .content-card h3, .content-card p {
    color: purple;
}

.game {
    width: 20%;
    margin: 50px auto 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 300px 220px;
    padding-top: 100px;
}


.game-board {
    border: solid 2px;
    background-color: #FFFFFF;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 20px;
    border: solid 2px; 
}

.next {
    margin-top: 40px;
}

.play-button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

.game-over img {
    width: 150px;
}

.game-over p {
    color: #FFFFFF;
}

.try-again {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: mediumslateblue;
}

.try-again:hover {
    background-color: mediumslateblue;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.winner p {
    color: #FFFFFF;
}

.continue-quest {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: purple;
}

.continue-quest:hover {
    background-color: purple;
    border-color: #FFFFFF;
    color: #FFFFFF;
}